.Components-TextButton {
  outline: 0;
  background: none;
  border: none;
  padding: 0 8px;
  height: 36px;
  line-height: 36px;
  border-radius: 4px;
  overflow: hidden;
  font-size: 14px;
  color: rgba(0,0,0,0.6);
  letter-spacing: 1.25px;
  text-align: center;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
}
.Components-TextButton:hover {
  background-color: rgba(0,0,0,0.04);
  color: rgba(0,0,0,0.87);
}
.Components-TextButton:active {
  background-color: rgba(0,0,0,0.12);
}
.Components-TextButton-Icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-right: 8px;
}