<!DOCTYPE html>
<html class="nojs">
<head>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,width=device-width" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,900|Material+Icons&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ (resources.Get "base.css").Permalink }}" />
  {{- block "styles" . }}{{- end }}
  <script>
    try { document.documentElement.classList.remove('nojs') } catch (e) { }
    window._data = {}
    window._data.basePath = '{{ $.Site.BaseURL }}'.replace(window.location.origin, '') || '/'
    window._data.serviceWorkerUrl = {{ index $.Site.Data.theme.private.assets "service-worker.js" | relURL }}
    if (navigator.serviceWorker) {
      navigator.serviceWorker.register(window._data.serviceWorkerUrl, { scope: window._data.serviceWorkerUrl })
    }
  </script>
  <script src="{{ index $.Site.Data.theme.private.assets "service-worker-start.js" | relURL }}" async></script>
  {{- block "scripts" . }}{{- end }}
</head>
<body>
  <main>
    {{- block "main" . }}{{- end }}
  </main>
</body>
</html>
