<!DOCTYPE html>
<html class="nojs">
<head>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,width=device-width" />
  {{ $styles := slice (resources.Get "base.css") (resources.Get "Components/Footer.css") | resources.Concat "css/base.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" />
  {{- block "styles" . }}{{- end }}
  <script>
    try { document.documentElement.classList.remove('nojs') } catch (e) {}
    window._data = {}
    window._data.basePath = JSON.parse('"{{ $.Site.BaseURL  }}"')
      .replace(window.location.protocol, '')
      .replace('//', '')
      .replace(window.location.host, '')
  </script>
  {{- block "scripts" . }}{{- end }}
</head>
<body>
  <header class="Components-Header">
    <div>
      
    </div>
  </header>
  <main>
    {{- block "main" . }}{{- end }}
  </main>
  <footer class="Components-Footer">
    <div class="Components-Footer-Line">
      <a class="Components-TextButton Components-TextButton-OnOverlay">
        Donate
      </a>
    </div>
    <div class="Components-Footer-Line">
      <a class="Components-TextButton Components-TextButton-OnOverlay">
        Privacy
      </a>
      <a class="Components-TextButton Components-TextButton-OnOverlay">
        Legal
      </a>
      <a class="Components-TextButton Components-TextButton-OnOverlay">
        Contact
      </a>
    </div>
    <div class="Components-Footer-Line">
      <p class="Components-Footer-Copyright Text-Body2-OnOverlay">
        Content © 2019 Sunrise Movement {{ $.Site.Data.settings.site.hub_name_full }}
      </p>
      <p class="Components-Footer-Copyright Text-Body2-OnOverlay">
        Site Design © 2019 Sunrise Movement
      </p>
    </div>
  </footer>
</body>
</html>
