<!DOCTYPE html>
<html class="nojs">
<head>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,width=device-width" />
  <link rel="stylesheet" href="{{ (resources.Get "base.css").Permalink }}" />
  {{- block "styles" . }}{{- end }}
  <script>
    try { document.documentElement.classList.remove('nojs') } catch (e) {}
    window._data = {}
    window._data.basePath = JSON.parse('"{{ $.Site.BaseURL  }}"')
      .replace(window.location.protocol, '')
      .replace('//', '')
      .replace(window.location.host, '')
  </script>
  {{- block "scripts" . }}{{- end }}
</head>
<body>
  <main>
    {{- block "main" . }}{{- end }}
  </main>
</body>
</html>
