.Home-Top {
  position: relative;
}

.Home-Top-Image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
}

.Home-Top-Content {
  position: relative;
  z-index: 2;
  padding: 100px 0;
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  grid-row-gap: 24px;
  place-content: center;
  place-items: center;
  background-color: rgba(0,0,0,0.4);
}

.Home-Top-Content-Logo {
  width: 100px;
}

.Home-About {
  max-width: 800px;
  width: 100%;
  margin: 48px auto;
}

.Home-Shared-Section {
  max-width: 800px;
  width: 100%;
  margin: 48px auto;
}

.Home-Shared-SectionHeader {
  margin-bottom: 8px;
}

.Home-About-Paragraph {
  margin: 16px 0;
}
  .Home-About-Paragraph:first-child {
    margin-top: 0;
  }
  .Home-About-Paragraph:last-child {
    margin-bottom: 0;
  }

.Home-News-Layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 16px;
  grid-auto-flow: column;
}

.Home-News-Latest {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-flow: column;
}

.Home-News-Latest-Content {
  padding: 16px 24px;
  padding-bottom: 8px;
}

.Home-News-Latest-Date {
  margin-bottom: 4px;
}

.Home-News-Latest-Title {
  margin-bottom: 16px;
}

.Home-News-Latest-Actions {
  padding-top: 24px;
}

.Home-News-Latest-FeaturedImage {
  min-width: 0;
  min-height: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Home-News-SeeAll {
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  grid-row-gap: 24px;
  place-items: center;
  place-content: center;
  padding: 16px;
}

.Home-News-Summary {
  text-align: center;
}

.Home-Tools-Layout {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.Home-Tools-Tool {
  padding-top: calc(100% / 3);
  position: relative;
  width: calc(100% / 3);
  margin-right: 16px;
}

.Home-Tools-Background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Home-Tools-Content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  grid-row-gap: 24px;
  place-content: center;
  place-items: center;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
  padding: 16px;
}

.Home-Tools-Tool:last-child {
  margin-right: 0;
}

.Home-Follow-Links {
  grid-auto-flow: column;
  grid-column-gap: 4px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.Home-Follow-Timelines {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
  grid-auto-flow: column;
}

html.nojs .Home-Follow-Timelines {
  display: none;
}