{{ define "styles" }}
  {{ $homeCss := resources.Get "Home.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $homeCss.Permalink }}" />
{{ end }}

{{ define "scripts" }}
  <script>
    window._data = window._data || {}
    window._data.events = {{ $.Site.Data.actionnetwork.events }}
    window._data.hubName = {{ $.Site.Data.settings.site.hubNameShort }}
  </script>
  <script src="{{ index $.Site.Data.theme.private.assets "home.js" | relURL }}" async></script>
{{ end }}

{{ define "main" }}
  <section
    class="top"
    id="top"
    style="--image:url('{{ .Params.top.image | relURL }}');">
    <div class="top-intro">
      <h1 class="top-hub-name">Sunrise {{ $.Site.Data.settings.site.hubNameShort }}</h1>
      <p class="top-details">{{ .Params.top.intro }}</p>
    </div>
  </section>
  <section
    id="about"
    class="about shared-main-section"
    >
    <h2 class="shared-section-header">About</h2>
    <div class="about-details">
      <div class="about-details-content">
        {{ .Params.about.details | markdownify }}
      </div>
    </div>
  </section>
  {{ $newsPages := where .Site.RegularPages "Section" "==" "news" }}
  {{ $newsCount := len $newsPages }}
  {{ $newsLatest := index $newsPages 0 }}
  {{ $newsOldest := index $newsPages (sub $newsCount 1) }}
  {{ if (gt $newsCount 0) }}
    <section
      id="news"
      class="news shared-main-section">
      <h2 class="shared-section-header">News</h2>
      <div class="news-container">
        <div class="news-latest shared-card">
          <div class="news-latest-inner shared-card-inner">
            <div class="news-latest-image" style="--image:url('{{ $newsLatest.Params.image | relURL }}')"></div>
            <div class="news-latest-info">
              <h3 class="news-latest-title">{{ $newsLatest.Params.title }}</h3>
              <p class="news-latest-preview">
                {{ $newsLatest.Params.content | truncate 200 }}
              </p>
              <div class="news-latest-actions">
                <
              </div>
            </div>
          </div>
        </div>
        <div class="news-summary">
          Sunrise
          {{ $.Site.Data.settings.site.hubNameShort }}
          has published
          <strong>{{ $newsCount }}</strong>
          {{ if (eq $newsCount 1) }}
            story
          {{ else }}
            stories
          {{ end }}
          since
          <strong>{{ $newsOldest.PublishDate.Format "January 2006" }}</strong>
        </div>
      </div>
    </section>
  {{ end }}
  {{ partial "home/events.html" . }}
{{ end }}