{{ $events := $.Site.Data.actionnetwork.events }}
<section
  id="events"
  class="events-interactive">
  <h2 class="shared-section-header">Events</h2>
  <sunrise-events></sunrise-events>
</section>

<noscript>
  <section
    id="events"
    class="events shared-main-section">
    <h2 class="shared-section-header events-header">
      Events
    </h2>
    <div class="events-scroller">
    {{ range $events }}
      <div class="shared-card events-container">
        {{ $coordinateStr := delimit (slice (string .coordinates.longitude) (string .coordinates.latitude)) "," }}
        {{ $baseMapParams := querify "access_token" "pk.eyJ1IjoibHVrZXdlc3RieSIsImEiOiJjanVrb3phNGsxeTdxNDNwZ2MybTQwNHl3In0.cD1c7AwcVaia7W4g-f5gLQ" }}
        {{ $mapUrl := delimit (slice "https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-s+000(" $coordinateStr ")/" $coordinateStr ",14,0,0/600x600?" $baseMapParams) "" }}
        <div class="shared-card-inner events-container-inner">
          <img class="events-map" src="{{ $mapUrl }}" />
          <h3 class="events-title">{{ .title }}</h3>
          <div class="events-icon">
            {{ partial "icon.html" "event" }}
          </div>
          <div class="events-detail-section">
            <p class="events-start-date">
              {{ dateFormat "January 2, 2006" .start }}
            </p>
            <p>
              {{ dateFormat "3:00pm" .start }}
            </p>
          </div>
          <div class="events-icon">
            {{ partial "icon.html" "place"}}
          </div>
          <div class="events-detail-section">
            <p class="events-location-name">
              {{ .place }}
            </p>
            <p>{{ .address }}</p>
          </div>
          <div class="events-icon">
            {{ partial "icon.html" "info"}}
          </div>
          <div class="events-detail-section events-info-details">
            {{ .description }}
          </div>
        </div>
      </div>
    {{ end }}
    </div>
  </section>
</noscript>
